<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals               = "false"
        backupStaticAttributes      = "false"
        colors                      = "true"
        convertErrorsToExceptions   = "true"
        convertNoticesToExceptions  = "true"
        convertWarningsToExceptions = "true"
        processIsolation            = "false"
        stopOnFailure               = "false"
        syntaxCheck                 = "true" 
        bootstrap="/var/www/html/findFileContentSymfony/vendor/autoload.php">


    <testsuites>
        <testsuite name="Find in files bundle tests.">
            <directory>Reea/FileSearcher/Bundle/Test</directory>
        </testsuite>
    </testsuites>

</phpunit>